* {
    font-family: inherit;
    font-size: inherit;
}

input[type=text], input[type=number], select {
    padding: 15px;
    width: 300px;
    margin: 10px;
    border: 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 20px;
    transition: .3s border-color;
}

span {
    display: block;
}

.ownForm {
    margin-top: 70px;
}

#addButton {
    margin-left: 170px;
}

.titleLabel {
    font-size: 30px;
}

.item:hover {
    border: 1px solid #aaa;
}